.account-inputs{
    height: 25px;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    max-width: 400px;
    background-color: #e4e4e6;
}
.create-account-title-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    height: 70px;
    color: white;
    background-color: rgb(2, 26, 70);
    font-size: small;
    font-family: -apple-system;
}
.createAccount-section{
    display: flex;
    flex-direction: column; 
}
.occupation-input{
    outline: none;
    border: none;
    border-radius: 5px;
    height: 25px;
    background-color: #dddddf;
    font-size: medium;
    font-family: -apple-system;
    font-weight: bold;
    color: #454546;
}
.account-title-section{
  color: white;
  border-radius: 5px;
}
.descriptions-for-password{
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(4, 31, 107);
    color: white;
    padding: 5px;
}
.create-account-picture{
    margin-bottom: 20px;
    height: 25px;
    padding: 7px;
    border-radius: 5px;
}
.create-label-and-input{
    display: flex;
    flex-direction: column;
    font-family: -apple-system;
   font-size: large;
}
.main-create-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.select-occupation-ph{
    font-weight: bold;
    color: #0a284a;
}
.sub-create-account{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: baseline;
    column-gap: 100px;
    row-gap: 15px;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
    color: #4f4f50;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
@media (max-width: 890px) {
    .sub-create-account {
      grid-template-columns: 1fr;
    }
  }
.create-account-labels{
   font-family: -apple-system;
   font-size: large;
}
.password-description{
    padding-left:20px;
    color: white;
    font-family: -apple-system;
    font-size: large;
    
}
.password-description-title{
    color: white;
}
.password-input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(228, 126, 126);
    border-radius: 5px;
}
.password-input{
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: #e4e4e6;
}
.eye{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-top-right-radius: 5px;
    background-color: #e4e4e6;
}
.create-account-buttonn{
    background-color: rgba(4, 31, 107, 0.918);
    border-radius: 5px;
    width: 150px;
}
.create-account-buttonn:hover{
    background-color: rgb(4, 31, 107);
}
@media (max-width: 890px) {
    .create-account-button {
      width:326px ;
    }
  }
  @media (min-width: 890px) {
    .create-account-button {
      width:754px ;
    }
  }