.sales-home-and-sort-title{
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: rgb(2, 26, 70);
    color: white;
    height: 70px;
    font-size: small;
    font-family: -apple-system;
  }
  .export-btn-pdf-admin,
  .export-btn-csv-admin{
    background-color: rgba(2, 26, 70, 0.897);
    margin-right: 20px;
    border-radius: 5px;
  }
  .export-btn-pdf-admin:hover,
  .export-btn-csv-admin:hover{
    background-color: rgb(2, 26, 70);
  }
  .search-container{
    display: flex;
    align-items: center;
  
  }
  .search-icon{
    background-color: #dfdfdf;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 3px;
    margin-left: 3PX;
  }
  .sales-search-and-export{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
  .main-sales-table{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: none;
  }
  .sales-thead{
    font-size: medium;
    font-family: -apple-system;
    padding: 5px;
    background-color: rgb(2, 26, 70);
  }
  .sales-export-buttons{
      margin-bottom: 10px;
  }
  .sales-table-fields{
    font-size: medium;
    font-family: -apple-system;
    padding-left: 5px;
    background-color: rgb(240, 240, 240);
  }
  .sales-detail-button{
    background-color: #086637;
    border: none;
    border-radius: 5px;
  }
  .salest-table{
    width: 100%;
  }
  .add-sales-button{
    background-color: rgb(6, 77, 43);
    border: none;
    border-radius: 5px;
    margin-left: 22px;
  }
  .sales-search-input{
    border: none;
    outline: none;
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e5e6e7;
    padding-left: 5px;
  }
  .medical-sales-form-title{
    font-family:-apple-system;
    font-size: large;
    
  }
  
  .medical-sales-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    font-family: -apple-system;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff; /* White input fields */
  }
  
  .equipment-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .submit-btn:hover {
    background-color: #218838;
  }
  
  @media screen and (max-width: 768px) {
    .medical-sales-form {
      grid-template-columns: 1fr;
    }
    
    .equipment-inputs {
      flex-direction: column;
    }
  }
  /***********/
  
  .detailed-view-1-sales-detail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 14, 14, 0.5);
    z-index: 999;
  }
  .sales-agreement-detail{
    font-size: x-large;
    font-weight: bold;
    font-family: -apple-system;
  }
  .detail-description-detailed-sales-detail {
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    max-height: 90vh; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
  }
  
  .device-description-detailed-sales-detail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
  }
  
  .detail-close-button-sales-detail {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    font-size: medium;
    font-family: -apple-system;
  }
  .columnName-sales-detail {
    background-color: rgb(235, 235, 235);
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    font-family: -apple-system;
  }
  .columnValue-sales-detail {
    border-radius: 5px;
    padding-left: 5px;
    font-size: medium;
    
    font-family: -apple-system;
  }
  .detailed-view-sales-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 14, 14, 0.5);
    z-index: 999;
    padding: 10px;
  }
  .detail-description-detailed-sales-form {
    background-color: rgb(220, 223, 226);
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    max-height: 90vh; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
  }
  .detail-description-detailed-sales-formm{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    max-height: 90vh; /* Adjust the maximum height as needed */
    overflow-y: auto;
    padding: 20px;
  }
  .sales-sales-form-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .medical-sales-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    overflow-y: auto;
  }
  .medical-sales-form-title{
    font-size: x-large;
    font-family: -apple-system;
    margin-left: 20px;
    font-weight: bold;
   
  }
  .contarct-form-detail-close-button1 {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
  }
  .sales-form-submit-btn,
  .maintenance-cancel-button{
    background-color: green;
    margin-left: 5px;
  
  } 
  .saleslabel {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;
  }
  .sales-form-input {
    color: rgb(0, 0, 0);
    padding-left: 5px;
    border: none;
    height: 40px;
    outline: none;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    border: none;
  }
  .sales-form-submit-btn{
    background-color: #0a7031;
    border-radius: 3px;
    margin-left: 23px;
    margin-bottom: 20px;
  }
  .contarct-form-detail-close-button2{
    background-color: red;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 20px;
  }