.profile-image{
    border-radius: 50%;
    height: 60px;
    width: 60px; 
    margin-bottom: 5px;
}
.logged-in-user-information{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
    border-bottom: 1px solid rgb(190, 123, 123);
    padding-top: 10px;
    font-family: -apple-system;
}
.name-and-lastname{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: rgb(204, 204, 204);
    font-size: medium;
    font-weight: bold;
    font-family: -apple-system;
    margin: 0px;
}
.user-name{
    color: white;
    font-size: medium;
    font-family: -apple-system;
    margin: 0px;
}
.logged-in-description{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10000;
}
.log-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}



