.stock-home-and-sort-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    color: rgb(68, 67, 67);
    font-size: small;
    font-family: -apple-system;
  }
  .stock-form-textarea{
     height: 25px;
     border: none;
     outline: none;
     background-color: #e6e9e6;
  }
  .stock-heading{
    display: flex;
    align-items: center;
  }
  .stock-form-label{
    display: flex;
    flex-direction: column;
  }
  .stock-container{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
  }
  .export-btn-pdf-admin,
  .export-btn-csv-admin{
    background-color: rgba(2, 26, 70, 0.897);
    margin-right: 20px;
    border-radius: 5px;
  }
  .export-btn-pdf-admin:hover,
  .export-btn-csv-admin:hover{
    background-color: rgb(2, 26, 70);
  }
  .search-container{
    display: flex;
    align-items: center;
  
  }
  .search-icon{
    background-color: #ffffff;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 3px;
    margin-left: 3PX;
  }
  .stock-search-and-export{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
  .stock-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .main-stock-table{
    width: 100%;
    border-radius: none;
  }
  .stock-thead{
    font-size: medium;
    font-family: -apple-system;
    padding: 5px;
    background-color: rgb(136, 61, 180);
    color: white;
  }
  .stock-export-buttons{
      margin-bottom: 10px;
  }
  .stock-table-fields{
    font-size: medium;
    font-family: -apple-system;
    padding-left: 5px;
    background-color: rgb(219, 216, 216);
    border-right: solid 1px rgb(206, 204, 204);
    border-bottom: solid 1px rgb(204, 202, 202);
  }
  .stock-detail-button{
    background-color: #086637;
    border: none;
    border-radius: 5px;
  }
  .stockt-table{
    width: 100%;
  }
  .add-stock-button{
    background-color: rgb(9, 116, 64);
    border: none;
    border-radius: 5px;
    margin-left: 22px;
    color: white;
    width: 200px;
  }
  .stock-search-input{
    border: none;
    outline: none;
    height: 23px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
    padding-left: 5px;
  }
  .medical-stock-form-title{
    font-family:-apple-system;
    font-size: large;
    
  }
  
  .medical-stock-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    font-family: -apple-system;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff; /* White input fields */
  }
  
  .equipment-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .submit-btn:hover {
    background-color: #218838;
  }
  
  @media screen and (max-width: 768px) {
    .medical-stock-form {
      grid-template-columns: 1fr;
    }
    
    .equipment-inputs {
      flex-direction: column;
    }
  }
  /***********/
  
  .detailed-view-1-stock-detail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 14, 14, 0.5);
    z-index: 999;
  }
  .stock-agreement-detail{
    font-size: x-large;
    font-weight: bold;
    font-family: -apple-system;
  }
  .detail-description-detailed-stock-detail {
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    max-height: 90vh; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
  }
  
  .device-description-detailed-stock-detail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
  }
  
  .detail-close-button-stock-detail {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    font-size: medium;
    font-family: -apple-system;
  }
  .columnName-stock-detail {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    font-family: -apple-system;
  }
  .columnValue-stock-detail {
    border-radius: 5px;
    padding-left: 5px;
    font-size: medium;
    
    font-family: -apple-system;
  }
  .detailed-view-stock-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 14, 14, 0.5);
    z-index: 999;
    padding: 10px;
  }
  .detail-description-detailed-stock-form {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    max-height: 90vh; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
  }
  .detail-description-detailed-stock-formm{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    max-height: 90vh; /* Adjust the maximum height as needed */
    overflow-y: auto;
    padding: 20px;
  }
  .stock-stock-form-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .medical-stock-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    overflow-y: auto;
  }
  .medical-stock-form-title{
    font-size: x-large;
    font-family: -apple-system;
    margin-left: 20px;
    font-weight: bold;
   
  }
  .contarct-form-detail-close-button1 {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
  }
  .stock-form-submit-btn,
  .maintenance-close-button{
    background-color: rgb(0, 128, 85);
    margin-right: 15px;
    width: 200px;
    color: white;
  
  } 
  .stock-form-close-button{
    background-color: #f44336;
    color: white;
  }
  .stocklabel {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .stock-form-input {
    color: rgb(0, 0, 0);
    padding-left: 5px;
    border: none;
    height: 25px;
    outline: none;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    border: none;
  }
  .stock-form-submit-btn{
    background-color: #0a7031;
    border-radius: 3px;
    margin-left: 23px;
    margin-bottom: 20px;
  }
  .contarct-form-detail-close-button2{
    background-color: red;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 20px;
  }