.A{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.B{
    width: 100%;

}
.C{

}
.D{
    display: flex;
    font-size: medium;
    align-items: center;
    margin-left: 10px;
}